<section class="bgwhite p-t-94 p-b-65">
  <div class="container">
    <div class="sec-title p-b-52">
      <h3 class="m-text5 t-center">
        Thương hiệu đồ da nam cao cấp PIMO ĐÃ ĐƯỢC HÀNG VẠN QUÝ ÔNG LỰA CHỌN BỞI
      </h3>
    </div>

    <div class="row">
      <div class="col-sm-10 col-md-3 p-b-30 m-l-r-auto">
        <!-- Block3 -->
        <div class="block3">
          <%= link_to "#", class: "block3-img dis-block hov-img-zoom" do %>
            <%= image_tag "images/blog-01", alt: "IMG-BLOG" %>
          <% end %>
          <div class="block3-txt p-t-14">
            <h4 class="p-b-7">
              <%= link_to "#", class: "m-text11" do %>
                Sản phẩm tinh xảo
              <% end %>
            </h4>
            <p class="s-text8 p-t-16">
              Đồ da PIMO được làm bằng da thật 100%. Đường chỉ may tỉ mỉ tinh tế. Tạo nên độ bền ưu việt trên thị trường.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-3 p-b-30 m-l-r-auto">
        <!-- Block3 -->
        <div class="block3">
          <%= link_to "#", class: "block3-img dis-block hov-img-zoom" do %>
            <%= image_tag "images/blog-02", alt: "IMG-BLOG" %>
          <% end %>

          <div class="block3-txt p-t-14">
            <h4 class="p-b-7">
              <%= link_to "#", class: "m-text11" do %>
                Kiểm tra hàng trước khi thanh toán
              <% end %>
            </h4>
            <p class="s-text8 p-t-16">
              Được tận tay, tận mắt kiểm tra sản phẩm mình mua. Luôn luôn làm hài lòng quý khách.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-3 p-b-30 m-l-r-auto">
        <!-- Block3 -->
        <div class="block3">
          <%= link_to "#", class: "block3-img dis-block hov-img-zoom" do %>
            <%= image_tag "images/blog-03", alt: "IMG-BLOG" %>
          <% end %>

          <div class="block3-txt p-t-14">
            <h4 class="p-b-7">
              <%= link_to "#", class: "m-text11" do %>
                  Đổi trả miễn phí
              <% end %>
            </h4>
            <p class="s-text8 p-t-16">
              1 đổi 1 miễn phí trong 30 ngày khi có lỗi của nhà sản xuất. Khách hàng có thể đổi sang sản phẩm khác có giá trị tương đương.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-3 p-b-30 m-l-r-auto">
        <!-- Block3 -->
        <div class="block3">
          <%= link_to "#", class: "block3-img dis-block hov-img-zoom" do %>
            <%= image_tag "images/blog-03", alt: "IMG-BLOG" %>
          <% end %>

          <div class="block3-txt p-t-14">
            <h4 class="p-b-7">
              <%= link_to "#", class: "m-text11" do %>
                  Tư vấn và bảo hành tận tâm
              <% end %>
            </h4>
            <p class="s-text8 p-t-16">
              Đội ngũ tư vấn chuyên nghiệp. Thời gian bảo hành đến 5 năm. Phục vụ khách hàng là “Người Thân”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>