	<!-- Slide1 -->
	<section class="slide1">
    <div class="wrap-slick1">
      <div class="slick1">
        <%#= render partial: 'home/slider', collection: @sliders %>
        <%= render partial: 'home/slider', collection: ['1'] %>
      </div>
    </div>  
	</section>

	<!-- Banner -->
	<div class="banner bgwhite p-t-40 p-b-40">
		<div class="container">
			<div class="row">
				<%= render partial: 'home/banner', collection: ['1', '1', '1'] %>
			</div>
		</div>
	</div>

  <!-- Our product -->
	<section class="bgwhite p-t-45 p-b-58">
		<div class="container">
			<div class="sec-title p-b-22">
				<h3 class="m-text5 t-center">
					SẢN PHẨM
				</h3>
			</div>

			<!-- Tab01 -->
			<%= render 'tab_product' %>
		</div>
	</section>

  <!-- Banner video -->
	<%= render 'video' %>

	<!-- Introduce -->
	<%= render 'introduce' %>

	<!-- Event -->
	<%= render 'event' %>
	

	<!-- Shipping -->
	<%= render 'shipping' %>
	
	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<script type="text/javascript">
    $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->