<div class="wrap_header fixed-header2 trans-0-4">
  <!-- Logo -->
  <a href="index.html" class="logo">
    <%= image_tag 'icons/logo.png', alt: "IMG-LOGO" %>
  </a>

  <!-- Menu -->
  <div class="wrap_menu">
    <nav class="menu">
      <ul class="main_menu">
        <% parent_categories.each do |parent| %>
          <li>
            <%= link_to parent.name.upcase, "#" %>
            <% if (sub_categories = sub_categories(parent.id)).present? %>
              <ul class="sub_menu">
                <% sub_categories.each do |sub| %>
                  <li><%= link_to sub.name.upcase, "#" %></li>
                <% end %>     
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <!-- Header Icon -->
  <div class="header-icons">
    <a href="#" class="header-wrapicon1 dis-block">
      <%= image_tag 'icons/icon-header-01.png', class: "header-icon1",  alt: "ICON" %>
    </a>

    <span class="linedivide1"></span>

    <div class="header-wrapicon2">
      <%= image_tag "icons/icon-header-02.png", class: "header-icon1 js-show-header-dropdown", alt: "ICON" %>
      <span class="header-icons-noti">0</span>

      <!-- Header cart noti -->
      <div class="header-cart header-dropdown">
        <ul class="header-cart-wrapitem">
          <li class="header-cart-item">
            <div class="header-cart-item-img">
              <%= image_tag "item-cart-01", alt: "IMG" %>
            </div>

            <div class="header-cart-item-txt">
              <a href="#" class="header-cart-item-name">
                White Shirt With Pleat Detail Back
              </a>

              <span class="header-cart-item-info">
                1 x $19.00
              </span>
            </div>
          </li>

          <li class="header-cart-item">
            <div class="header-cart-item-img">
              <%= image_tag "item-cart-02", alt: "IMG" %>
            </div>

            <div class="header-cart-item-txt">
              <a href="#" class="header-cart-item-name">
                Converse All Star Hi Black Canvas
              </a>

              <span class="header-cart-item-info">
                1 x $39.00
              </span>
            </div>
          </li>

          <li class="header-cart-item">
            <div class="header-cart-item-img">
              <%= image_tag "item-cart-03", alt: "IMG" %>
            </div>

            <div class="header-cart-item-txt">
              <a href="#" class="header-cart-item-name">
                Nixon Porter Leather Watch In Tan
              </a>

              <span class="header-cart-item-info">
                1 x $17.00
              </span>
            </div>
          </li>
        </ul>

        <div class="header-cart-total">
          Total: $75.00
        </div>

        <div class="header-cart-buttons">
          <div class="header-cart-wrapbtn">
            <!-- Button -->
            <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
              View Cart
            </a>
          </div>

          <div class="header-cart-wrapbtn">
            <!-- Button -->
            <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
              Check Out
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>